.hidden{
    display: none;
}

.checkeable input {
    display: none;
}
.checkeable img {
    width: 100px;
    /* border: 5px solid transparent; */
}
.checkeable input {
    display: none;
}
.checkeable input:checked  + img {
    border: 5px solid #06bd60;
}
.imageSelect{
    cursor: pointer;
}

.image{
    width: 100%;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
}

.wrapperImage{
    width: 100%;
    height: 450px;
    border: 1px solid gray;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background-position: center;
    background-size: cover;
}
.info{
    display: inline-block;
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    text-shadow: 1px 1px 1px black;
    background: rgba(0,0,0, .6);
    padding: 20px;
    border-radius: 20px;
    min-width: 350px;
}

.imagesCarousel{
    margin: 10px 0;
}
.imagesCarousel .item img{
    border: 2px solid gray;
    width: 100%;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10px;
}

#map {
    width: 100%;
    height: 500px;
    margin: 30px 0 50px;
}
